<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://221.224.53.39:14330;DatabaseName=sipcredit_base</property>
        <property name="hibernate.connection.username">publictest</property>
        <property name="hibernate.dialect">com.wa.cms.util.SqlServer2008Dialect</property>
    </session-factory>
</hibernate-configuration>
