<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no" lazy-init="false">
		<property name="startupDelay" value="15"/>
	    <property name="triggers">
	        <list>
	       		<ref bean="generateQuartz"/>
	        </list>
	    </property>
	    <property name="autoStartup" value="true"/>
	    <property name="configLocation" value="classpath:config/quartz.properties"/>
	</bean>
    
	<bean id="generateJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.wa.cms.quartz.GenerateQuartz"/>  
		<property name="jobDataAsMap">
			<map><entry key="size" value="10"/></map>
		</property>
		<property name="applicationContextJobDataKey" value="applicationContext"/>
	</bean>
	<bean id="generateQuartz" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="generateJob"/>
		<property name="cronExpression" value="0 0/5 08-23 * * ?"/>
	</bean>
</beans>